body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: white;
    display: flex;
}

.LeftColumn {
    width: 35%;
    background-color: #222;
    padding: 40px;
}

.LeftColumn img {
    width: calc(100% + 80px);
    margin-top: -40px;
    margin-left: -40px;
    margin-bottom: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

.LeftColumn .name {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.LeftColumn .name h2 {
    margin: 0%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.9;
}

.LeftColumn .job {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
}

.LeftColumn .job::after {
     content: '';
    display: block;
    margin-top: 4px;
    width: 70px;
    height: 2px;
    background-color: #ccc;
    border-radius: 10px;
}

.LeftColumn .logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.LeftColumn .contact {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 15px;
}

.LeftColumn .contact::after {
    content: '';
    display: block;
    margin-top: 4px;
    width: 70px;
    height: 3px;
    background-color: #ccc;
    border-radius: 10px;
}

.LeftColumn .contact-info {
    width: 90%;
    margin: 20px auto 0 auto;
}

.LeftColumn a {
    color: white;
    text-decoration: none;
}

.LeftColumn a:hover {
    color: black;
    text-decoration: underline;
}

.LeftColumn .contact-info p {
    font-size: 0.9rem;
    margin: 5px 0;
    line-height: 1.4;
}

.LeftColumn .bhs {
    width: 90%;
    margin: 30px auto 0 auto;
}

.LeftColumn .bhs::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 100px;
    height: 3px;
    background-color: #ccc;
    border-radius: 10px;
}

.LeftColumn .bhsbar {
    width: 90%;
    margin: 20px auto 0 auto;
}

.LeftColumn .lang-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.LeftColumn .lang-item p {
    width: 100px;
    font-size: 0.9rem;
    margin: 0;
}

.LeftColumn .bar-container {
    width: 100px;
    height: 8px;
    background-color: #444;
    border-radius: 5px;
}

.LeftColumn .bar-fillEng, .LeftColumn .bar-fillInd {
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
}

.LeftColumn .bar-fillEng {
    width: 25%;
}

.LeftColumn .bar-fillInd {
    width: 100%;
}

.RightColumn {
    width: 65%;
    background-color: white;
    color: #333;
    padding: 60px;
}

.RightColumn h2 {
    font-size: 1.6rem;
    color: #222;
    margin-bottom: 15px;
}

.RightColumn .profile {
    width: 65%;
    margin-top: 0;
}

.RightColumn .profile::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 60px;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
}

.RightColumn .desc {
    margin-top: 8px;
}

.RightColumn .exp {
    width: 65%;
    margin-top: 50px;
}

.RightColumn .exp::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 115px;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
}

.RightColumn .experience-item, .RightColumn .education-item {
    display: flex;
    margin-bottom: 15px;
}

.RightColumn .item-left {
    width: 25%;
    padding-right: 10px;
    font-size: 0.9rem;
}

.RightColumn .item-left p:first-child {
    font-weight: 550;
    font-size: 1rem;
    margin-top: 0;
}

.RightColumn .item-right {
    width: 75%;
    padding-left: 10px;
    /* border-left: 2px solid #eee; */
}

.RightColumn .item-right p {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.6;
}

.RightColumn .edu {
    width: 65%;
    margin-top: 50px;
}

.RightColumn .edu::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 100px;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
}

.RightColumn .exper {
    width: 65%;
    margin-top: 50px;
}

.RightColumn .exper::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 90px;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
}



/* ====== 1. Untuk Tampilan TABLET ====== */

@media (max-width: 1024px) {
    
    .LeftColumn, .RightColumn {
        padding: 30px;
    }

    .LeftColumn img {
        width: calc(100% + 60px); 
        margin-top: -30px;
        margin-left: -30px;
    }

    .RightColumn h2 {
        font-size: 1.4rem;
    }
}


/* ====== 2. Untuk Tampilan HP ====== */

@media (max-width: 768px) {

    body {
        flex-direction: column;
    }

    .LeftColumn, .RightColumn {
        width: 100%;
    }

    .LeftColumn img {
        width: 60%; 
        margin: 0 auto 30px auto; 
    }

    .RightColumn .experience-item,
    .RightColumn .education-item {
        flex-direction: column;
    }

    .RightColumn .item-left,
    .RightColumn .item-right {
        width: 100%;
    }

    .RightColumn .item-right {
        border-left: none;
        padding-left: 0;
        margin-top: 10px;
    }
}